body {
  padding: 0px;
  margin: 0px;
}
nav {
  display: flex;
  color: #000;
  font-size: 40px;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}
.home {
  margin-left: 50px;
  margin-left: 50px;
}
.menu > a {
margin-left: 20px;
margin-left: 20px;
}
.mainpic {
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 40px;
}
.footer {
  text-align: center;
  font-size: 32px;
}

.Asahina {
  border-radius: 50%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.works {
  justify-content: center;
  display: flex;
}
.work a{
  flex-wrap: wrap;
  font-size: 24px;
}
  
.Plof {
 padding: 3px;
 margin: 3px;
 font-weight: bold;
 border: solid 3px #000;
}

.plof P {
  margin: 0;
  padding: 0;
}


